html,
.text-body {
    color: #05704d !important;
    font-weight: bold !important;
}

.list-group-item {
    padding: 0.2rem !important;
}

.friend-item {
    display: block;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.active-friend {
    background-color: #05704d !important;
    color: #ffffff !important;
    font-weight: bold;
}

.header-name {
    font-size: 1.0rem;
    font-weight: bold;
    color: #adb5bd;
}

.chat-date {
    display: inline-block;
    background-color: #bcc1c8 !important;
    border-radius: 1.0rem;
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.0rem;
    color: #ffffff;
    margin-bottom: 0.2rem;
}

.chat-form-body {
    height: auto; 
    overflow-y: visible; 
    padding: 0.5rem;
}

.user-message {
    font-size: 0.7rem;
    color: #adb5bd;
}

.friend-message {
    font-size: 0.7rem;
    color: #adb5bd;
}

.user-chat-bubble {
    display: inline-block;
    text-align: left;
    background-color: #C7EDBA !important;
    font-size: 1.0rem;
    color: #212529;
    padding: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    max-width: 70%;
    word-break: break-word;
    margin-top: 0;
    margin-bottom: 0;
}

.friend-chat-bubble {
    display: inline-block;
    text-align: left;
    background-color: #D4F7DC !important;
    font-size: 1.0rem;
    color: #212529;
    padding: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
    max-width: 70%;
    word-break: break-word;
    margin-top: 0;
    margin-bottom: 0;
}